.flex {
    display: flex;
}

.flex-row {
    flex-direction:row
}
.flex-row-reverse {
flex-direction:row-reverse
}
.flex-col {
flex-direction:column
}
.flex-col-reverse {
flex-direction:column-reverse
}
.flex-wrap {
flex-wrap:wrap
}
.flex-wrap-reverse {
flex-wrap:wrap-reverse
}
.items-start {
align-items:flex-start
}
.items-end {
align-items:flex-end
}
.items-center {
align-items:center
}
.self-center {
align-self:center
}
.justify-start {
justify-content:flex-start
}
.justify-end {
justify-content:flex-end
}
.justify-center {
justify-content:center
}
.justify-between {
justify-content:space-between
}
.vl {
    border-left: 2px solid;
    &.primary {
        border-color: $primary;
    }
    &.nav {
        height: 56px;
    }
  }